.ForumBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.HeaderMessageBlock {
    border: 1px dashed black;
    margin-bottom: 1vw;
    padding: 0 1vw;
}

.MessageBlock {
    width: 52vw;
}

.HeaderBlock {
    padding: .5vw 0;
    font-weight: 800;
    font-size: 1.2em;
}

.MessageBlock {
    padding: .5vw 0;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.CountMessage {
    align-self: center;
    width: 50vw;
}

.CountMessage span:last-of-type {
    color: red;
    font-size: 1.3em;
}

.CountMessage span:first-of-type {
    font-style: italic;
}

.MessageModalWindow {
    position: fixed;
    left: 25vw;
    top: 5vw;
    z-index: 100;
    width: 50vw;
    height: 30vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MessageModalWindow ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border: 3px solid black;

}

.MessageModalWindow ul li:first-of-type {
    font-weight: 800;
    font-size: 1.2em;
}

.MessageModalWindow li {
    font-size: 1.2em;
    list-style: none;
    margin: 2vw 0;
}

.MessageModalWindow button {
    width: 5vw;
    align-self: flex-end;
    cursor: pointer;
    height: 3vw;
    color: red;
    font-size: 1.2em;
    margin: 0 1vw 1vw 0;
    border-radius: 5px;

}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2196F3;
    z-index: 99;
    -webkit-transition: 1s all;
    transition: 1s all;
    visibility: visible;
    -webkit-animation: 3s load linear both;
    animation: 3s load linear both;
}

.loader {
    width: 6vw;
    height: 6vw;
    border: .7vw solid #fff;
    border-radius: 50%;
    border-top-color: #FF4081;
    border-bottom-color: #1976D2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: 10s circle infinite ease-in-out;
    animation: 10s circle infinite ease-in-out;

}

@-webkit-keyframes circle {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes circle {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes load {
    from {
        opacity: .9;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes load {
    from {
        opacity: .9;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}



