.PageLink {
    color: #FF4081;
    margin-right: 2vw;
    font-size: 2em;
    position: absolute;
}
.home{
    left: 5vw;
    font-size: 1.5em;
    color: #000 !important;
    opacity: .8;
}
.own{
    left:21vw;
}
.two{
    left:38vw;
}
.three{
    left:55vw;
}
.four{
    left:72vw;
}
.five{
    left:89vw;
}

.ActivePageLink {
    font-weight: bold;
    text-decoration: underline;
    color:red;
}
.listBlock{
    top: 1vw;
    position: relative;
}
